// Text align
.ta {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

// Text color
.text {
  color: var(--text);

  @at-root {
    &-l {
      @extend .text;
      color: var(--text-l);
    }
    &-el {
      @extend .text;
      color: var(--text-el);
    }
  }
}

// Font size
.fs {
  @for $i from 10 to 24 {
    @if $i % 2==0 {
      &-#{$i} {
        font-size: #{$i}px;
      }
    }
  }
}

// Font weight
.fw {
  &-n {
    font-weight: normal;
  }

  &-b {
    font-weight: bold;
  }
}

// Cut text
.cut {
  &-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// Title
.title {
  margin: 0;

  @at-root {
    h1#{&} {
      font-size: 32px;

      &.xlg {
        font-size: 54px;
      }
    }

    h2#{&} {
      font-size: 24px;
    }

    h3#{&} {
      font-size: 18px;
    }

    h4#{&} {
      font-size: 16px;
    }
  }
}

